<div class="container">

  <app-search [items] = "restaurants" (itemWanted)="addChoice($event)"></app-search>


  <app-list [choices]="choices" (needWheelUpdate)="refreshWheel($event)"></app-list>


    <div id="canvasContainer">
      <canvas id='canvas' width='450' height='450'>
        Canvas not supported, use another browser.
      </canvas>
      <img id="prizePointer" src="assets/pointer.png" alt="V" />
    </div>

    <button [disabled]="wheelSpinning" class="btn  btn-dark btn-lg spin" id="spinButton" (click)="handleMouseWheel($event)">Spin</button>
    <button class="btn  btn-danger btn-lg spin" id="resetButton" (click)="reset()">Reset</button>


</div>
