/* You can add global styles to this file, and also import other style files */
.trash {
  width: 30px;
}

body {
  background: rgb(51, 102, 255);
  background: linear-gradient(90deg, rgba(51, 102, 255, 1) 0%, rgba(204, 204, 255, 1) 52%, rgba(51, 102, 255, 1) 100%);
  background-size: cover;
}

.tdNbTime {
  vertical-align: top;
  margin-right: 10px;
}
.btnDelete .btnPlus {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
